CADDY_EMAIL=ops@example.com
CATERING_PUBLIC_HOST=catering.the-one.catering
CATERING_UPSTREAM=https://web:443
ZEITERFASSUNG_PUBLIC_HOST=zeit.the-one.catering
ZEITERFASSUNG_UPSTREAM=zeiterfassung-app-1:3040
EVENTOS_PUBLIC_HOST=eventos.commcats.de
EVENTOS_UPSTREAM=commcats-eventos-app:3045
