{
  email {$CADDY_EMAIL}
}

{$CATERING_PUBLIC_HOST} {
  reverse_proxy {$CATERING_UPSTREAM} {
    header_up Host {$CATERING_PUBLIC_HOST}
    transport http {
      tls_server_name {$CATERING_PUBLIC_HOST}
    }
  }
}

{$ZEITERFASSUNG_PUBLIC_HOST} {
  reverse_proxy {$ZEITERFASSUNG_UPSTREAM}
}

{$EVENTOS_PUBLIC_HOST} {
  reverse_proxy {$EVENTOS_UPSTREAM}
}
