{
  email {$CADDY_EMAIL}
  log default {
    output file /data/cutover-runtime.log {
      mode 0600
      roll_size 5MiB
      roll_keep 2
    }
    level INFO
  }
}

{$CATERING_PUBLIC_HOST} {
  reverse_proxy {$CATERING_UPSTREAM} {
    header_up Host {$CATERING_PUBLIC_HOST}
  }
}

{$ZEITERFASSUNG_PUBLIC_HOST} {
  reverse_proxy {$ZEITERFASSUNG_UPSTREAM}
}

{$EVENTOS_PUBLIC_HOST} {
  reverse_proxy {$EVENTOS_UPSTREAM}
}